name: Setup Terraform Backend

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  setup-backend:
    runs-on: ubuntu-latest
    
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v4

      - name: Configurar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.5

      - name: Configurar credenciales AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1

      - name: Ejecutar script de configuración
        run: |
          chmod +x setup_backend.sh
          ./setup_backend.sh

      - name: Comitear cambios generados al repositorio principal
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(terraform): Setup remote backend automáticamente"
          file_pattern: "terraform/backend.tf bootstrap/main.tf"
          branch: main
